/lab4/lab4 - EmployeePractice/nbproject/private/
/lab4/lab4 - EmployeePractice/build/
/lab6/6-1/Pet/nbproject/private/
/lab6/6-1/Pet/build/
/lab6/06-InterfacesEmployeeMemoryDAO/EmployeeMemoryDAO/nbproject/private/
/lab6/6-2/EmployeeMemoryDAO/nbproject/private/
/lab6/6-2/EmployeeMemoryDAO/build/
