/lab4/lab4 - EmployeePractice/nbproject/private/
/lab4/lab4 - EmployeePractice/build/
/lab6/6-1/Pet/nbproject/private/
/lab6/6-1/Pet/build/
/lab6/06-InterfacesEmployeeMemoryDAO/EmployeeMemoryDAO/nbproject/private/
/lab6/6-2/EmployeeMemoryDAO/nbproject/private/
/lab6/6-2/EmployeeMemoryDAO/build/
/lab7/Generics-Practice01/nbproject/private/
/lab7/Generics-Practice02/nbproject/private/
/lab7/Generics-Practice03/nbproject/private/
/lab7/Generics-Practice01/build/
/lab7/Generics-Practice02/build/
/lab7/Generics-Practice03/build/
/lab8/Labs08-StringsPractice01/nbproject/private/
/lab8/Labs08-StringsPractice02/nbproject/private/
/lab8/Labs08-StringsPractice03/nbproject/private/
/lab8/Labs08-StringsPractice01/build/
/lab8/Labs08-StringsPractice02/build/
/lab8/Labs08-StringsPractice03/build/
/lab12/12-Threadingpractices-NetworkThreading/NetworkThreading/nbproject/private/
/lab12/12-Threadingpractices-Synchronized/Synchronized/nbproject/private/
/lab12/12-Threadingpractices-Synchronized/Synchronized/build/
/lab12/ThreadInterrupted/nbproject/private/
/lab12/ThreadInterrupted/build/
/lab14/14-JDBC-practices-SimpleJDBCExample/SimpleJDBCExample/build/
/lab14/14-JDBC-practices-EmployeeDAOJDBC/EmployeeDAOJDBC/build/
